//colors
$off-white: #f2f2f2;
$off-black: #323232;
$light-grey: #c4c4c4;
$red: #E01200;
$dark-red: #bd1000;
$light-red: #FFCED5;
$blue: #0299FA;
$light-blue: #38B2FF;

//distances
//one grid space
$grid-space: 2vw;
